.wrapper{
    width: 100%;
    background-color: #7e7c7c6d;
    box-shadow: rgb(0 0 0/12%)0px 2px 12px;
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px,734px);
    padding-top: 8px;
    text-color:while;

}
