@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  
    --primary:rgb(243,63,93,1);
    --black:rgb(18,18,18);
    --text-color:rgb(232,232,232);
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body{
  background-color: black;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;

}button,input,[tabindex]{
    outline: none;
    border: none;
}
a[href]{
    color:var(--text-color)
    
}

